:root{
    --primary-color:#4f4aa6;
    --secondary-color: #48ca95;
    --bg-color: #f7f7f7;
    --light-color:#fff;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman';
}

body{
    display: flex;
    flex-direction: column;
    min-height:  90vh;
    align-items: center;
    padding-top: 2%;
    background: url(imagenes/images.jpg) no-repeat center center/ cover;
}

.contenedor {
  width: 700px;
  min-height: 500px;
  background-color:transparent;
  padding: 40px;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
#btn{
   /*  color: var(--light-color); */
    text-decoration: none;
    border: 2px solid var(--light-color);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 14px;
    
}

#form{
    background-color: #4f4aa6;
    padding: 1.5% 1%;
    margin-top: 1%;
}



/* #tareas{
    margin:2px;
    background-color: #d7d7d7;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row; 
} */

/* Lista de tareas */

#lista-de-tareas {
  width: 100%;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Tareas individuales */

.tarea {
  width: 50%;
  min-height: 30px;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #407ba6;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}



/* Estilo para tarea completada */

.tarea.completada {
    text-decoration: line-through;
    background-color: black;
    border: none;
  }
  
  .tarea p {
    max-width: 350px;
  }
  
  /* Iconos */
  
  i {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .icono-completar {
    color: rgb(0, 255, 0);
  }
  
  .icono-eliminar {
    color: rgb(255, 255, 255);
  }
  
  .icono-completar:hover,
  .icono-eliminar:hover {
    background-color: rgba(255, 255, 255, 0.523);
  }

  @media(max-width: 500px){
    .contenedor {
      width: 400px;
      min-height: 500px;
      background-color:transparent;
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
    }
    .tarea{
      width: 100%;
      min-height: 10px;
    }
}